$light: #f5f5f5;
$dark: #202020;
$primary: #00008b;
$secondary: #b22222;
$shadowDefault: 3px 1px 1px rgba(0, 0, 0, 0.5);

.container-row {
    display: flex;
    flex-direction: row;
}
.container-column {
    display: flex;
    flex-direction: column;
    max-width: 30em;
}
.space-around {
    justify-content: space-around;
}
.button {
    padding: 0.5em;
    border: 0;
    border-radius: 25px;
    flex: 1;
    margin-right: 0.5em;
}
.button:focus {
    outline: 0;
}

.button:hover {
    box-shadow: $shadowDefault;
}
.btn-like {
    background-color: $primary;
    color: $light;
}
.btn-deslike {
    background-color: $secondary;
    color: $light;
}
.icon {
    padding: 0.4em;
    border: 1px solid;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: $light;
    padding: 0.5em;
    box-shadow: $shadowDefault;
    flex: 1;
    border-radius: 10px;
}
.nav-item {
    padding: 1em;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    border: 0;
    flex: 1;
}
.baseline {
    align-items: baseline;
}
.nav-item:hover {
    box-shadow: $shadowDefault;
}
.content {
    display: none;
    font-size: 0.7em;
    color: $dark;
}

.active {
    display: flex;
}

.moldure {
    border: 10px;
    box-shadow: $shadowDefault;
    border-radius: 25px;
    padding: 1em;
}
.repo {
    background-color: $light;
    border-color: #f0f0f0;
    box-shadow: $shadowDefault;
    margin-bottom: 0.5em;
   padding: 0.5em;
}
