<div ngClass="container-column {{theme}} moldure">
  <div ngClass="container-row baseline">
    <h3>SPA with Angular</h3>
  </div>
  <div ngClass="container-row space-around">
    <button ngClass="button btn-like" (click)="handleLike()">Like</button>
    <button ngClass="button btn-deslike" (click)="handleDeslike()">Deslike</button>
  </div>
  <div ngClass="container-row">
    <h4>Code</h4>
  </div>
  <div ngClass="container-column">
    <div ngClass="navbar space-around">
      <button ngClass="button nav-item" (click)="changeContent('modules')">Module</button>
      <button ngClass="button nav-item" (click)="changeContent('components')">Components</button>
      <button ngClass="button nav-item" (click)="changeContent('services')">Services</button>
    </div>
    <div ngClass="container-column">
      <div [ngClass]="{'container-row content': true, 'active': active == 'modules'}">
        <pre>
          <code>
            {{content}}
          </code>
        </pre>
      </div>
      <div [ngClass]="{'container-row content': true, 'active': active == 'components'}">
        <pre>
          <code>
            {{content}}
           </code>
        </pre>
      </div>
      <div [ngClass]="{'container-column content': true, 'active': active == 'services'}">
        <h5>List of my repositories</h5>
        <div ngClass="container-column">
          <div *ngFor="let repo of repositories" ngClass="container-row repo">
            {{repo.html_url}}
          </div>
        </div>
        <h5>Code</h5>
        <pre>
          <code>
            {{content}}
           </code>
        </pre>
      </div>
    </div>
  </div>
</div>